<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4OvNMlWkHM2VKTifjjdnaUMfJIMWLMtw</string>
	<key>GCM_SENDER_ID</key>
	<string>329980660446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shibli.GoogleSign</string>
	<key>PROJECT_ID</key>
	<string>sign-d2787</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-d2787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329980660446:ios:dd66fb3b41cd033b85104f</string>
	<key>CLIENT_ID</key>
	<string>379794665637-4hr31jd2tqe86oesias63049ke7nh68a.apps.googleusercontent.com</string>
</dict>
</plist>